.Renviron
.Rproj.user/0A544B1B/sources/session-41b6bec0/B4E8D4A6-contents
.Rproj.user/0A544B1B/sources/session-41b6bec0/660F030F-contents
.Rproj.user/0A544B1B/sources/session-41b6bec0/530AD81A-contents
.Rproj.user/0A544B1B/sources/session-41b6bec0/2B356E1F-contents
.Rproj.user/0A544B1B/ctx/ctx-23084/environment_vars
